version: '3.9'
services:
  db:
    image: postgres:16
    container_name: imthon_db
    restart: always
    environment:
      POSTGRES_USER: imtihon
      POSTGRES_PASSWORD: imtihon
      POSTGRES_DB: imthon5
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - "5435:5432"
    networks:
      - app_network

  redis:
    image: redis:7
    container_name: learning_redis
    restart: always
    ports:
      - "6380:6379"
    networks:
      - app_network

  app:
    build: .
    container_name: learning_app
    restart: always
    depends_on:
      - db
      - redis
    environment:
      DATABASE_URL: postgresql://imtihon:imtihon@db:5432/imthon5?schema=public
      REDIS_HOST: redis
      REDIS_PORT: 6379
    env_file:
      - .env
    ports:
      - "3000:3000"
    volumes:
      - /var/data/learning_app/uploads_dev:/app/uploads
    networks:
      - app_network

networks:
  app_network:
    driver: bridge

volumes:
  postgres_data:
