version: "3.8"

services:
  db:
    image: postgres:16
    container_name: learning_db
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: imthon5

    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - app_network
    ports:
      - "5432:5432"
  redis:
    image: redis:7
    container_name: learning_redis
    restart: always
    ports:
      - "6379:6379"
    networks:
      - learning_fd

  app:
    build: .
    container_name: learning_app
    restart: always
    depends_on:
      - db
      - redis
       
    env_file: 
      - .env
    ports:
      - "3000:3000"
    networks:
      - app_network
    volumes:
      - /var/data/learning_app/uploads_dev:/app/uploads
   
    command: sh -c "npx prisma db push && exec node dist/main.js"

networks:
  learning:

volumes:
  postgres_data:
   
